.fliter-container {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 10px;
  width: 185px;
  min-width: fit-content;
  margin: 0 5% 0 0;

  .filter {
    .card-wrapper {
      padding: 7px;

      .container {

        .line {
          border: 0.5px solid;
          margin: 0 20%;
          border-color: #cfd4da
        }

        .items-container {
          display: flex;
          flex-wrap: wrap;

          .item {
            margin: 4% 0%;
            flex-basis: 50%;
            flex: 1 0 50%;
            display: flex;
            justify-content: center;
          }

          .btn {
            outline: none;
            border: none;
            border-radius: 10%;
            background: #c5e09b;
            cursor: pointer;
            padding: 4px 10px;
            text-transform: capitalize;
          }

          .btn-active {
            background: #7cba01;
          }
        }
      }
    }

  }
}
